/*HAY UN SERIO PROBLEMA CON CENTRAR LOS ELEMENTOS EN EL HEADER*/
.header-container{
    position: relative; /*permite manejar dentro de la etiqueta contenedora*/
    justify-content: center;
    align-items: flex-start;
    height: 300px;
    width: 100%;    
    background-image: url(../../../assets/Image/20220225_104956.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-style: groove;
    border-radius: 5px;        
    }
.header-container:before{
    content: "";
    width: 100%;
    height: 300px;
    position: absolute ;
    background-position: center;
    background-image: linear-gradient(90deg, green 1%, transparent 99%);
    opacity: 0.5;
    z-index: 0;
}
.input{
   position: relative;
   background-position: center;
   background-color: rgb(83, 62, 62);
   height: 40px;
   width: 30%;    
   border-radius: 5px;
   box-shadow: 4px 4px 5px 0px #232c8a;
   font-style: italic; 
   z-index: 1;  
}
.nombre{
    position: center;
    x-index: center;
    background-color: transparent;
    background-position: center;
}



