*{
    box-sizing:content-box;
}
.container-item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    width: 50px;
    height: 30px;
}
h1{
   background-color: transparent;
    text-align: center;      
}
.container-item:hover{
   width: 55px;
}